package {{.PackageName}}

{{- if .ImportList}}
import (
	{{- range $v:= .ImportList}}
	"{{$v}}"
	{{- end}}
)
{{- end }}
{{range $table:= .TableList}}
// {{$table.TableName}} {{$table.PoComment}}
var {{$table.PoName}}Ptr = &{{$table.PoName}}{}

{{- end}}
{{range $table:= .TableList}}
func (po *{{.PoName}}) TableName() string {
	return "{{.TableName}}"
}

// {{$table.TableName}} {{$table.PoComment}}
type {{$table.PoName}} struct {
	{{- range .ColumnList}}
	{{- if .PropComment}}
	// {{ .PropComment}}
	{{- if .PropAllComment}}
	// {{ .PropAllComment}}
	{{- end }}
	{{- end}}
	{{.PropName}} {{.PropType}}   `json:"{{.JsonName}}{{.Omitempty}}" xorm:"{{.ColumnName}}{{.PK}} {{.ColumnType}}{{.ColumnTypeRange}}{{.DefaultTime}}{{.Notnull}}{{.Default}}{{.Unique}} {{.Index}}"`
	{{- end}}
}

{{- if .ColumnList}}
const (
// DB	
{{- range .ColumnList}}
	{{$table.PoName}}_{{.PropName}}_DB = "{{.ColumnName}}"
{{- end}}

// GO
{{- range .ColumnList}}
	{{$table.PoName}}_{{.PropName}}_GO = "{{.PropName}}"
{{- end}}
)
{{- end}}
{{end}}
